<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <base href="http://localhost:63342/UI-430Batch/images/">
    <script>
        var x = prompt("Enter the Name");
        alert("Hello "+x);
    </script>
    <style>
        p{
            background-color: blue;
        }
        .mystyle{
            background-color: brown;
        }

    </style>
</head>
<body>
<p class="mystyle">Hello this is Demo<span style="color: green"> This is Inline Tag</span></p>
<p>This is another demo</p>
<img src="rockstar.jpg">
<img src="BMB-Zinda.jpg">
<img src="SunnRahaHai.jpg">
<!-- this is comment -->
<table border="1">
    <tr>
        <td>Empno</td>
        <td>name</td>
        <td>salary</td>
    </tr>
    <tr>
        <td>1001</td>
        <td>Ram</td>
        <td>9090</td>
    </tr>
</table>

</body>
</html>